/* Color palette for site */
:root {
    --darkblue:#2a607c; 
    --blue:#0072bb;
    --lightblue:#2589bd;
    --white:#ffffff;
    --eggshell:#d9dcd6;

}

/* Universal format for page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--eggshell);
}

/* ------------ Header ----------- */

/* styling*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblue) ;
    color: var(--white);
}

/* header layout */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* company name seo format*/
.header h1 .seo {
    color: var(--eggshell);
}


/* ----------- Links in Header to body locations ---------- */

/* Changed div to nav / Style for Search Links */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Style for Search Links */
.header nav ul {
    list-style-type: none;
}

/* Style for Search Links */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Text Color for anchored assests*/
a {
    color: var(--white);
    text-decoration: none;
}

/* ----------- Main Meeting Image ---------- */

/* Main meeting image format */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* ---------- Main Body Content Boxes ---------- */

/* Text size for p assets in main body and side bar*/
p {
    font-size: 16px;
}

/* Main body box image location (left) */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Main body box image location (right) */
.float-right {
    float: right;
    margin-left: 25px;
}

/*Main body boxes format */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main body format */
.main-format {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--blue);
    color: var(--white);
}

/* Main body image sizing*/
.main-format img {
    max-height: 200px;
}

/* Main body font and margin size */
.main-format h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ---------- Side Bar ---------- */

/* Format for Side Bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightblue);
}

/* Side Bar text and margin format */
.sb-format {
    margin-bottom: 32px;
    color: var(--white);
}

/* Side Bar asset title */
.sb-format h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Side Bar image */
.sb-format img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ---------- Footer ----------*/ 

/* Footer format */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer font h2 format */
.footer h2 {
    font-size: 20px;
}
